<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Kocekku - About Us</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body {
      min-height: 100vh;
      background: #fafafa;
    }


    .social-link {
      width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666;
      border-radius: 50%;
      transition: all 0.3s;
      font-size: 0.9rem;
      text-decoration: none;
    }

    .social-link:hover,
    .social-link:focus {
      background: #ddd;
      color: #555;
    }

    .progress {
      height: 10px;
    }
  </style>

  <link rel="stylesheet" href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css" />
</head>

<body>
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/"> <span class="fw-bold"> Koceku</span> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-black">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/aboutus">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact</a>
          </li>
        </ul>
      </div>
      <div class="mx-5">
        <a href="/signin">
          <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
          <lord-icon src="https://cdn.lordicon.com/bhfjfgqz.json" trigger="hover" colors="primary:#121331"
            style="width:40px;height:40px">
          </lord-icon>
        </a>
      </div>
    </div>
  </nav>
  <style>
    .navbar-brand {
      font-weight: bolder;
      font-size: xx-large;
    }
  </style>
  <!-- Akhir navbar -->
  <!-- Awal Content -->
  <header class="p-4 bg-success text-white">
    <div class="container">
      <h1>About Us</h1>
    </div>
  </header>
  <div class="container py-5">
    <!-- For Demo Purpose-->
    <header class="text-center mb-5">
      <h1 class="display-4 font-weight-bold">Kelompok 10</h1>
      <p class="font-italic text-muted mb-0">Alhamdulillah kerja semua.</p>
    </header>

    <!-- Second Row [Team]-->
    <h2 class="font-weight-bold mb-2">Pesan dan Kesan</h2>
    <p class="font-italic text-muted mb-4">You have made a significant impact on our tugas besar, Thank you very much
      senior.</p>

    <div class="row pb-5 mb-4">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0"><img th:src="@{profilezaki.jpeg}" alt="" class="w-100 card-img-top">
            <div class="p-4">
              <h5 class="mb-0">M Zaky Fathurahim</h5>
              <p class="small text-muted">SE-45-02 - 1302213067</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0"><img th:src="@{profilerisjad.jpg}" alt="" class="w-100 card-img-top">
            <div class="p-4">
              <h5 class="mb-0">M Risjad Shidqi Febian</h5>
              <p class="small text-muted">SE-45-02 - 1302213045</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0"><img th:src="@{profileghazy.jpg}" alt="" class="w-100 card-img-top">
            <div class="p-4">
              <h5 class="mb-0">M Ghazy Fawaz Hakim</h5>
              <p class="small text-muted">SE-45-02 - 1302210027</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0"><img th:src="@{profilesaid.jpg}" alt="" class="w-100 card-img-top">
            <div class="p-4">
              <h5 class="mb-0">Syayid Abdullah Zakaria</h5>
              <p class="small text-muted">SE-43-02 - 1302190059</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Akhir Content -->
  <footer class="p-4 bg-dark text-white">
    <div class="container text-center">
      <p>&copy; 2023 Koceku. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>