<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Kocekku - About Us</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="#!">Kocekku</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-black">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/aboutus">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact</a>
            </li>
            <a href="/" class="btn btn-primary">Login</a>
          </ul>
        </div>
      </div>
    </nav>
    <style>
      .navbar-brand {
        font-family: "Arial", sans-serif;
        font-weight: bolder;
        font-size: xx-large;
      }
    </style>
    <!-- Akhir navbar -->
    <!-- Awal Content -->
    <header class="p-4 bg-success text-white">
      <div class="container">
        <h1>About Us</h1>
      </div>
    </header>
    <div class="container">
      <!-- <h1 class="mt-4 mb-4 text-center">About Us</h1> -->
      <section>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4">
              <img
                th:src="@{profilezaki.jpeg}"
                class="card-img-top"
                alt="Developer 1"
              />
              <div class="card-body">
                <h5 class="card-title">Muhammad Zaky Fathurahim</h5>
                <p class="card-text">Nama : Muhammad Zaky Fathurahim</p>
                <p class="card-text">NIM : 1302213067</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4">
              <img
                th:src="@{profilerisjad.jpg}"
                class="card-img-top"
                alt="Developer 2"
              />
              <div class="card-body">
                <h5 class="card-title">Muhammad Risjad Shidqi Febian</h5>
                <p class="card-text">Nama : Muhammad Risjad Shidqi Febian</p>
                <p class="card-text">NIM : 1302213045</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4">
              <img
                th:src="@{profileghazy.jpg}"
                class="card-img-top"
                alt="Developer 3"
              />
              <div class="card-body">
                <h5 class="card-title">Muhammad Ghazy Fawaz Hakim</h5>
                <p class="card-text">Nama : Muhammad Ghazy Fawaz Hakim</p>
                <p class="card-text">NIM : 1302210027</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4">
              <img
                th:src="@{profilesaid.jpg}"
                class="card-img-top"
                alt="Developer 4"
              />
              <div class="card-body">
                <h5 class="card-title">Syayid abdullah Zakaria</h5>

                <p class="card-text">Nama : Syayid abdullah Zakaria</p>
                <p class="card-text">NIM : 1302190059</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Akhir Content -->
    <footer class="p-4 bg-dark text-white">
      <div class="container text-center">
        <p>&copy; 2023 Koceku. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
