<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- this is where we refer the css file from src/main/resources/static/main.css -->
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="font-poppins">
    <div class="bg white flex flex-row items-center">
        <!-- Awal Bagian Navbar -->
        <div class="w-1/5 bg-white h-screen align-middle flex flex-col">
            <div class="text-center p-8">
                <a href="/homepage" class="my-auto font-bold text-4xl text-[#6245D5] ">Koceku</a>
            </div>
            <div class="p-4 border-2">
                <h1 class="text-center text-xl font-bold">Halo, Nama</h1>
                <p class="text-center text-gray-600">Saldo Tersedia</p>
                <p class="text-center text-2xl font-semibold text-green-500">Rp 500,000</p>
            </div>
            <div class="flex-1 bg-gray-100 p-4">
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div>
                        <h2 class="text-lg font-bold mb-2">Profil</h2>
                        <p class="text-gray-600 mb-4">Phone Number: 08123456789</p>
                        <button class="cursor-pointer active:scale-95 ">
                            <a href="#"
                                class="bg-[#6245D5] text-white px-4 py-2 rounded-md hover:bg-[#704ff5] active:bg-[#7859f4]">Ubah
                                Profil</a>
                        </button>
                    </div>
                </div>
                <nav class="flex p-4">
                    <div class="flex flex-col 2xl:mt-8 xl:mt-6 gap-4">
                        <a href="/dashboard"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105 text-green-500 font-bold">
                            <i class="fas fa-chart-pie mr-2"></i>
                            Dashboard
                        </a>
                        <a href="/topup"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105 ">
                            <i class="fas fa-arrow-circle-up mr-2"></i>
                            Top Up
                        </a>
                        <a href="/transfer"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105 ">
                            <i class="fas fa-exchange-alt mr-2"></i>
                            Transfer
                        </a>
                        <a href="/payment"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105">
                            <i class="fas fa-credit-card mr-2"></i>
                            Payment
                        </a>
                        <a href="/profile"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105">
                            <i class="fas fa-user mr-2"></i>
                            Profile
                        </a>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Akhir Bagian Navbar  -->
        <div class="flex flex-row items-center h-screen w-full justify-evenly" style="background: #11998e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ">
            <!-- Content -->
            <div class="flex flex-col">
                <!-- Awal Bagian Profile-->
                <section id="Profile" class="pt-20">
                    <div class="container bg-white">
                        <div class="flex-wrap">
                            <div class="w-full p-10">
                                <h1 class="text-base font-semibold text-primary">
                                    Hello, Risjad
                                </h1>
                                <h2>Profile</h2>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Akhir Bagian Profile -->

                <!-- Awal Bagian Wallet -->
                <section class="pt-20">
                    <div class="container bg-white">
                        <div class="flex-wrap">
                            <div class="w-full p-10">
                                <h1 class="text-base">Balance</h1>
                                <h1 th:text="'Rp ' + ${balance}">

                                </h1>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Akhir Bagian Wallet -->
                <!-- Awal Bagian Wallet -->
                <section class="pt-20">
                    <div class="container bg-white">
                        <div class="flex-wrap">
                            <div class="w-full p-10">
                                <h1 class="text-base">Balance</h1>
                                <h1>Rp 9,000,000,000.00</h1>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Akhir Bagian Wallet -->
            </div>

            <div class="flex flex-col">
                <div>
                    <!-- Awal Bagian Wallet -->
                    <section class="pt-20">
                        <div class="container bg-white">
                            <div class="flex-wrap">
                                <div class="w-full p-10">
                                    <h1 class="text-base">Balance</h1>
                                    <h1>Rp 9,000,000,000.00</h1>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Akhir Bagian Wallet -->
                </div>

                <div>
                    <!-- Awal Bagian Wallet -->
                    <section class="pt-20">
                        <div class="container bg-white">
                            <div class="flex-wrap">
                                <div class="w-full p-10">
                                    <h1 class="text-base">Transaction History</h1>
                                    <h1>Rp 9,000,000,000.00</h1>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Akhir Bagian Wallet -->
                </div>
            </div>
        </div>
        <!-- Akhir Content -->
</body>

</html>