<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- this is where we refer the css file from src/main/resources/static/main.css -->
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class=" font-poppins">
    <div class="bg white flex flex-row items-center">
        <!-- Awal Bagian Navbar -->
        <div class="w-1/5 bg-white h-screen align-middle flex flex-col">
            <div class="text-center p-8">
                <a href="/homepage" class="my-auto font-bold text-4xl text-[#6245D5] ">Koceku</a>
            </div>
            <div class="p-4 border-2">
                <h1 class="text-center text-xl font-bold">Halo, Nama</h1>
                <p class="text-center text-gray-600">Saldo Tersedia</p>
                <p class="text-center text-2xl font-semibold text-green-500">Rp 500,000</p>
            </div>
            <div class="flex-1 bg-gray-100 p-4">
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div>
                        <h2 class="text-lg font-bold mb-2">Profil</h2>
                        <p class="text-gray-600 mb-4">Nomor Telepon: 08123456789</p>
                        <button class="cursor-pointer active:scale-95 ">
                            <a href="#"
                                class="bg-[#6245D5] text-white px-4 py-2 rounded-md hover:bg-[#704ff5] active:bg-[#7859f4]">Ubah
                                Profil</a>
                        </button>
                    </div>
                </div>
                <nav class="flex p-4">
                    <div class="flex flex-col 2xl:mt-8 xl:mt-6 gap-4">
                        <a href="/dashboard"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105">
                            <i class="fas fa-chart-pie mr-2"></i>
                            Dashboard
                        </a>
                        <a href="/topup"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105 ">
                            <i class="fas fa-arrow-circle-up mr-2"></i>
                            Top Up
                        </a>
                        <a href="/transfer"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105 ">
                            <i class="fas fa-exchange-alt mr-2"></i>
                            Transfer
                        </a>
                        <a href="/payment"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105">
                            <i class="fas fa-credit-card mr-2"></i>
                            Payment
                        </a>
                        <a href="/profile"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105 text-green-500 font-bold">
                            <i class="fas fa-user mr-2"></i>
                            Profile
                        </a>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Akhir Bagian Navbar  -->
        <!-- content transfer -->
        <div class=" h-screen flex flex-col w-full" style="background: #11998e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ">
            <div class="flex flex-row  mx-auto justify-center items-center w-4/5 h-screen">
                <div class="flex flex-row border border-black">
                    <div class="bg-white shadow-md p-8 overflow-y-auto">
                        <h1 class="text-2xl font-bold mb-4">History</h1>
                        <div class="overflow-y-auto h-96">
                            <table class="table-auto  min-w-full">
                                <thead class="sticky top-0 z-10 bg-white">
                                    <tr class="bg-white">
                                        <th class="px-4 py-2 ">Type</th>
                                        <th class="px-4 py-2 ">Phone Number</th>
                                        <th class="px-4 py-2 ">Name</th>
                                        <th class="px-4 py-2 ">Amount</th>
                                        <th class="px-4 py-2 ">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Loop through the data and display it in the table -->
                                    <!-- Assume the data is an array of objects with properties -->
                                    <!-- Replace this with the actual data from your controller -->
                                    <tr class="bg-gray-100">
                                        <td class="px-4 py-2 border">Transfer</td>
                                        <td class="px-4 py-2 border">082178282931</td>
                                        <td class="px-4 py-2 border">John Doe</td>
                                        <td class="px-4 py-2 border">10.000</td>
                                        <td class="px-4 py-2 border">Expense</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="px-4 py-2 border">Transfer</td>
                                        <td class="px-4 py-2 border">082178282931</td>
                                        <td class="px-4 py-2 border">John Doe</td>
                                        <td class="px-4 py-2 border">10.000</td>
                                        <td class="px-4 py-2 border">Expense</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="px-4 py-2 border">Transfer</td>
                                        <td class="px-4 py-2 border">082178282931</td>
                                        <td class="px-4 py-2 border">John Doe</td>
                                        <td class="px-4 py-2 border">10.000</td>
                                        <td class="px-4 py-2 border">Expense</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="px-4 py-2 border">Transfer</td>
                                        <td class="px-4 py-2 border">082178282931</td>
                                        <td class="px-4 py-2 border">John Doe</td>
                                        <td class="px-4 py-2 border">10.000</td>
                                        <td class="px-4 py-2 border">Expense</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="px-4 py-2 border">Transfer</td>
                                        <td class="px-4 py-2 border">082178282931</td>
                                        <td class="px-4 py-2 border">John Doe</td>
                                        <td class="px-4 py-2 border">10.000</td>
                                        <td class="px-4 py-2 border">Expense</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="px-4 py-2 border">Transfer</td>
                                        <td class="px-4 py-2 border">082178282931</td>
                                        <td class="px-4 py-2 border">John Doe</td>
                                        <td class="px-4 py-2 border">10.000</td>
                                        <td class="px-4 py-2 border">Expense</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="px-4 py-2 border">Transfer</td>
                                        <td class="px-4 py-2 border">082178282931</td>
                                        <td class="px-4 py-2 border">John Doe</td>
                                        <td class="px-4 py-2 border">10.000</td>
                                        <td class="px-4 py-2 border">Expense</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="px-4 py-2 border">Transfer</td>
                                        <td class="px-4 py-2 border">082178282931</td>
                                        <td class="px-4 py-2 border">John Doe</td>
                                        <td class="px-4 py-2 border">10.000</td>
                                        <td class="px-4 py-2 border">Expense</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="px-4 py-2 border">Transfer</td>
                                        <td class="px-4 py-2 border">082178282931</td>
                                        <td class="px-4 py-2 border">John Doe</td>
                                        <td class="px-4 py-2 border">10.000</td>
                                        <td class="px-4 py-2 border">Expense</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="bg-white flex-none  p-8">
                        <h1 class="text-2xl font-bold mb-4 text-center">Send Money</h1>
                        <form>
                            <div class="mb-4">
                                <label class="block text-gray-700 font-bold mb-2" for="sender">You Send</label>
                                <input
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="sender" type="text" placeholder="Enter Amount">
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 font-bold mb-2" for="recipient">To</label>
                                <input
                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    id="recipient" type="text" placeholder="Enter recipient number">
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 font-bold mb-2" for="amount">Note</label>
                                <textarea name="" id="" cols="30" rows="5"
                                    class="appearance-none resize-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                    placeholder="Note"></textarea>
                            </div>
                            <button
                                class="cursor-pointer active:scale-95 bg-[#6245D5] text-white px-4 py-2 rounded-md hover:bg-[#704ff5] w-full active:bg-[#7859f4]"
                                type="button">
                                Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- akhir content transfer -->



    </div>
</body>

</html>