<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koceku | Profile</title>
    <!-- this is where we refer the css file from src/main/resources/static/main.css -->
    <link rel="stylesheet" th:href="@{/main.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class=" font-poppins">
    <div class="bg white flex flex-cp items-center">
        <!-- Awal Bagian Navbar -->
        <div class="w-1/5 bg-white h-screen align-middle flex flex-col">
            <div class="text-center p-8">
                <a href="/homepage" class="my-auto font-bold text-4xl text-[#6245D5] ">Koceku</a>
            </div>
            <div class="p-4 border-2">
                <h1 class="text-center text-xl font-bold">Halo, Nama</h1>
                <p class="text-center text-gray-600">Saldo Tersedia</p>
                <p class="text-center text-2xl font-semibold text-green-500">Rp 500,000</p>
            </div>
            <div class="flex-1 bg-gray-100 p-4">
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div>
                        <h2 class="text-lg font-bold mb-2">Profil</h2>
                        <p class="text-gray-600 mb-4">Nomor Telepon: 08123456789</p>
                        <button class="cursor-pointer active:scale-95 ">
                            <a href="#"
                                class="bg-[#6245D5] text-white px-4 py-2 rounded-md hover:bg-[#704ff5] active:bg-[#7859f4]">Ubah
                                Profil</a>
                        </button>
                    </div>
                </div>
                <nav class="flex p-4">
                    <div class="flex flex-col 2xl:mt-8 xl:mt-6 gap-4">
                        <a href="/dashboard"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105">
                            <i class="fas fa-chart-pie mr-2"></i>
                            Dashboard
                        </a>
                        <a href="/topup"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105 ">
                            <i class="fas fa-arrow-circle-up mr-2"></i>
                            Top Up
                        </a>
                        <a href="/transfer"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105 ">
                            <i class="fas fa-exchange-alt mr-2"></i>
                            Transfer
                        </a>
                        <a href="/payment"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105">
                            <i class="fas fa-credit-card mr-2"></i>
                            Payment
                        </a>
                        <a href="/profile"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105 text-green-500 font-bold">
                            <i class="fas fa-user mr-2"></i>
                            Profile
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Akhir Bagian Navbar  -->
        <!-- content transfer -->
        <div class=" h-screen flex flex-col w-full" style="background: #11998e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ">
            <div class="flex flex-row mx-auto justify-center items-center w-4/5 gap-10 h-screen">
                <div class="flex flex-col">
                    <div class="flex flex-col gap-10">
                        <div class="bg-white shadow-sm rounded p-4 mb-4 w-[700px]">
                            <div class="flex flex-row justify-between">
                                <h3 class="text-5 mb-4">Personal Details</h3>
                                <div>
                                    <a href="#edit-personal-details" data-bs-toggle="modal" id="editButton"
                                        class="ms-auto text-2 text-uppercase btn-link"><span class="me-1"><i
                                                class="fas fa-edit"></i></span>Edit</a>
                                </div>
                            </div>
                            <hr class="mx-n4 mb-4">
                            <div class="flex flex-row gap-4 my-4 justify-start px-24 py-5">
                                <div id="columnName" class="flex flex-col gap-4">
                                    <p class="text-end text-gray-500">First Name:</p>
                                    <p class="text-end text-gray-500">Last Name:</p>
                                    <p class="text-end text-gray-500">Email:</p>
                                    <p class="text-gray-500">Phone Number:</p>
                                    <p class="text-end text-gray-500">Password:</p>
                                </div>
                                <div id="showMode" class="flex flex-col gap-4">
                                    <p>Adul</p>
                                    <p>Ghazi</p>
                                    <p>ijadshidqi@gmail.com</p>
                                    <p>082128232131</p>
                                    <div class="flex ">
                                        <p class="mt-1" id="password" data-password="adulijdsukangoding">
                                            ******************
                                        </p>
                                        <button id="togglePassword"
                                            class="btn-link  ml-2 right-0 fa-regular fa-eye my-auto"></button>
                                    </div>
                                </div>
                                <div id="editMode" class="flex flex-col gap-5 hidden">
                                    <input class="border border-gray-600 rounded-xl px-2" placeholder="Adul"
                                        type="text">
                                    <input class="border border-gray-600 rounded-xl px-2 mt-1" placeholder="Ghazi"
                                        type="text">
                                    <input class="border border-gray-600 rounded-xl px-2"
                                        placeholder="ijadshidqi@gmail.com" type="text">
                                    <input class="border border-gray-600 rounded-xl px-2 mt-1"
                                        placeholder="082128232131" type="text">
                                    <input class="border border-gray-600 rounded-xl px-2 mt-1"
                                        placeholder="******************" type="text">
                                    <div class="flex flex-row gap-4 mt-5">
                                        <button id="cancelButton"
                                            class="px-4 py-2 text-white bg-gray-500 rounded-md hover:bg-gray-600">
                                            Cancel
                                        </button>
                                        <button id="saveButton"
                                            class="px-4 py-2 bg-[#6245D5] text-white rounded-md hover:bg-[#704ff5] active:bg-[#7859f4]">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- akhir content transfer -->
                </div>
            </div>
        </div>
    </div>
    <script>
        const passwordElement = document.getElementById('password');
        const togglePasswordButton = document.getElementById('togglePassword');
        const password = passwordElement.getAttribute('data-password');
        const passwordLength = password.length;
        let isPasswordVisible = false;
        const editButton = document.getElementById('editButton');
        const showMode = document.getElementById('showMode');
        const editMode = document.getElementById('editMode');
        const columnName = document.getElementById('columnName');

        const saveButton = document.getElementById("saveButton");

        editButton.addEventListener('click', function () {
            editMode.classList.remove("hidden");
            showMode.classList.add("hidden");
            columnName.classList.remove("gap-4");
            columnName.classList.add("gap-6");
            editButton.classList.add("hidden");

        });

        saveButton.addEventListener('click', function () {
            editMode.classList.add("hidden");
            showMode.classList.remove("hidden");
            columnName.classList.add("gap-4");
            columnName.classList.remove("gap-6");
            editButton.classList.remove("hidden");
        })



        togglePasswordButton.addEventListener('click', function () {
            isPasswordVisible = !isPasswordVisible;
            if (isPasswordVisible) {
                passwordElement.innerText = password;
                passwordElement.classList.remove("mt-1")
                togglePasswordButton.classList.remove("fa-eye");
                togglePasswordButton.classList.add("fa-eye-slash");
            } else {
                passwordElement.innerText = '*'.repeat(passwordLength);
                passwordElement.classList.add("mt-1")
                togglePasswordButton.classList.remove("fa-eye-slash");
                togglePasswordButton.classList.add("fa-eye");
            }
        });
    </script>
</body>

</html>