<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- this is where we refer the css file from src/main/resources/static/main.css -->
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body class="font-poppins">
    <div class="bg white flex flex-row items-center">
        <!-- Awal Bagian Navbar -->
        <div class="w-1/5 bg-white h-screen align-middle flex flex-col">
            <div class="text-center p-8">
                <a href="/" class="my-auto font-bold text-4xl text-[#6245D5]">Koceku</a>
            </div>
            <div class="p-4 border-2">
                <h1 class="text-center text-xl font-bold" th:text="'Halo, ' + ${user.getFirstName()}"></h1>
                <p class="text-center text-gray-600">Available Balance</p>
                <p class="text-center text-2xl font-semibold text-green-500"
                    th:text="'Rp' + ${#numbers.formatCurrency(user.getEwallet().getBalance()).substring(1)}"></p>
            </div>
            <div class="flex-1 bg-gray-100 p-4">
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div>
                        <div class="flex justify-between">
                            <div class="">
                                <h2 class="text-lg font-bold mb-1">Notification</h2>
                            </div>
                            <div class="">
                                <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                <lord-icon src="https://cdn.lordicon.com/psnhyobz.json" trigger="click"
                                    colors="primary:#121331" style="width: 30px; height: 30px">
                                </lord-icon>
                            </div>
                        </div>
                        <p class="text-gray-600 mb-4" th:text="'Phone number: ' + ${user.getPhoneNumber}"></p>
                        <button class="cursor-pointer active:scale-95 my-1" onclick="window.location.href = '/logout'">
                            <a href=" #"
                                class="bg-[#6245D5] text-white px-4 py-2 rounded-md hover:bg-[#704ff5] active:bg-[#7859f4]">Logout</a>
                        </button>
                    </div>
                </div>
                <nav class="flex p-4">
                    <div class="flex flex-col 2xl:mt-8 xl:mt-6 gap-4">
                        <a href="/dashboard"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105">
                            <i class="fas fa-chart-pie mr-2"></i>
                            Dashboard
                        </a>
                        <a href="/topup"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105 text-green-500 font-bold">
                            <i class="fas fa-arrow-circle-up mr-2"></i>
                            Top Up
                        </a>
                        <a href="/transfer"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105">
                            <i class="fas fa-exchange-alt mr-2"></i>
                            Transfer
                        </a>
                        <a href="/payment"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105">
                            <i class="fas fa-credit-card mr-2"></i>
                            Payment
                        </a>
                        <a href="/profile"
                            class="my-auto xl:text-2xl flex items-center hover:text-green-500 hover:scale-105">
                            <i class="fas fa-user mr-2"></i>
                            Profile
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Akhir Bagian Navbar  -->
        <!-- content transfer -->
        <div class="h-screen flex flex-col w-full" style="
          background: #11998e; /* fallback for old browsers */
          background: -webkit-linear-gradient(
            to top,
            #38ef7d,
            #11998e
          ); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(
            to top,
            #38ef7d,
            #11998e
          ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ">
            <div class="h-screen flex flex-col w-full">
                <div class="flex flex-row mx-auto justify-center items-center w-4/5 h-screen">
                    <div class="flex flex-row">
                        <div class="bg-white shadow-md p-8 overflow-y-auto border-black rounded-l-xl">
                            <h1 class="text-2xl font-bold mb-4">History</h1>
                            <div class="overflow-y-auto h-96">
                                <table class="table-auto min-w-full">
                                    <thead class="sticky top-0 z-10 bg-white">
                                        <tr class="bg-white">
                                            <th class="px-4 py-2">Method</th>
                                            <th class="px-4 py-2">E-Wallet</th>
                                            <th class="px-4 py-2">Phone Number</th>
                                            <th class="px-4 py-2">Amount</th>
                                            <th class="px-4 py-2">Date</th>
                                            <th class="px-4 py-2">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Loop through the data and display it in the table -->
                                        <!-- Assume the data is an array of objects with properties -->
                                        <!-- Replace this with the actual data from your controller -->
                                        <tr th:each="t : ${listTransactionTopup}" class="bg-gray-100">
                                            <td class="px-4 py-2 border" th:text="${t.method}"></td>
                                            <td class="px-4 py-2 border" th:text="${t.ewalletType}"></td>
                                            <td class="px-4 py-2 border" th:text="${t.phoneNumber}"></td>
                                            <td class="px-4 py-2 border"
                                                th:text="${'-Rp' + #numbers.formatCurrency(t.amount).substring(1)}">
                                            </td>
                                            <td class="px-4 py-2 border"
                                                th:text="${#temporals.format(t.transactionDate, 'yyyy-MM-dd HH:mm')}">
                                            </td>
                                            <td class="px-4 py-2 border" th:text="${t.status}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="bg-white p-8 rounded-r-xl">
                            <h1 class="text-2xl font-bold mb-4 text-center">Top Up</h1>
                            <div class="flex flex-col h-96 w-80">
                                <div class="h-full">
                                    <form class="flex flex-col justify-between h-full" method="post"
                                        th:action="@{/topup}" id="myForm">
                                        <div>
                                            <div class="mb-4">
                                                <label class="block text-gray-700 font-bold mb-2" for="sender">Phone
                                                    Number</label>
                                                <input name="phoneNumber" id="sender" type="text"
                                                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                    th:attr="placeholder=${user.phoneNumber}"
                                                    th:value="${user.phoneNumber}" />
                                            </div>
                                            <div class="flex flex-row justify-between">
                                                <div class="mb-4">
                                                    <div class="relative inline-block text-left">
                                                        <div class="w-full">
                                                            <label
                                                                class=" px-4 block text-gray-700 font-bold mb-2 text-left"
                                                                for="sender">Select E-Wallet</label>
                                                            <div class="flex relative" onclick="toggleDropdown()">
                                                                <button th:text="${'Dana'}" type="button"
                                                                    id="selectButton"
                                                                    class="inline-flex justify-center w-full px-6 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50"></button>
                                                                <i id="dropDownEwalletIcon"
                                                                    class="fa-solid fa-chevron-down absolute right-3 transform -translate-y-1/2 top-1/2"></i>
                                                                <input type="text" name="ewallet" class="hidden"
                                                                    id="dataEwallet" th:value="${'Dana'}" />
                                                            </div>
                                                        </div>
                                                        <div id="dropdown"
                                                            class="hidden absolute z-10 right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5">
                                                            <div class="py-1 z-10" role="menu"
                                                                aria-orientation="vertical"
                                                                aria-labelledby="options-menu">
                                                                <a href="#" onclick="selectEWallet('Dana')" th
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Dana</a>
                                                                <a href="#" onclick="selectEWallet('Gopay')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Gopay</a>
                                                                <a href="#" onclick="selectEWallet('OVO')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">OVO</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-4">
                                                    <div class="relative inline-block text-left">
                                                        <div class="flex flex-col justify-center">
                                                            <label class="block px-4 text-gray-700 font-bold mb-2 "
                                                                for="sender">Select Amount</label>
                                                            <div class="relative flex" onclick="togglePriceDropdown()">
                                                                <button th:text="${'Rp10,000'}" type="button"
                                                                    id="priceButton"
                                                                    class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50"></button>
                                                                <input type="text" class="hidden" name="amount"
                                                                    id="dataAmount" th:value="${'10,000'}" />
                                                                <i id="dropDownPriceIcon"
                                                                    class="fa-solid fa-chevron-down absolute right-3 transform -translate-y-1/2 top-1/2"></i>
                                                            </div>
                                                        </div>
                                                        <div id="priceDropdown"
                                                            class="hidden absolute z-10 right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5">
                                                            <div class="py-1 z-10 max-h-40 overflow-y-auto" role="menu"
                                                                aria-orientation="vertical"
                                                                aria-labelledby="options-menu">
                                                                <a href="#" onclick="selectPrice('Rp10,000')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Rp10,000</a>
                                                                <a href="#" onclick="selectPrice('Rp20,000')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Rp20,000</a>
                                                                <a href="#" onclick="selectPrice('Rp30,000')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Rp30,000</a>
                                                                <a href="#" onclick="selectPrice('Rp40,000')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Rp40,000</a>
                                                                <a href="#" onclick="selectPrice('Rp50,000')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Rp50,000</a>
                                                                <a href="#" onclick="selectPrice('Rp100,000')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Rp100,000</a>
                                                                <a href="#" onclick="selectPrice('Rp200,000')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Rp200,000</a>
                                                                <a href="#" onclick="selectPrice('Rp300,000')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Rp300,000</a>
                                                                <a href="#" onclick="selectPrice('Rp400,000')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Rp400,000</a>
                                                                <a href="#" onclick="selectPrice('Rp500,000')"
                                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                                    role="menuitem">Rp500,000</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <label class="block text-gray-700 font-bold mb-2" for="amount">Note
                                                (optional)</label>
                                            <textarea name="note" id="note" cols="30" rows="5"
                                                class="appearance-none resize-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                placeholder="Note"></textarea>
                                        </div>
                                        <div class="">
                                            <button
                                                class="cursor-pointer active:scale-95 bg-[#6245D5] text-white px-4 py-2 rounded-md hover:bg-[#704ff5] w-full active:bg-[#7859f4]"
                                                type="submit">
                                                Send
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- akhir content transfer -->
        <!-- Awal Bagian Navbar -->
    </div>
    <script>
        function fillPhoneNumber(phoneNumber) {
            document.getElementById("sender").value = phoneNumber;
        }

        function selectPrice(amount) {
            document.getElementById("selectedAmount").value = amount;
            document.getElementById("priceButton").innerText = amount;
            togglePriceDropdown();
        }

        function toggleDropdown() {
            var dropdown = document.getElementById("dropdown");
            var iconDropdown = document.getElementById("dropDownEwalletIcon");
            iconDropdown.classList.toggle("fa-chevron-down");
            iconDropdown.classList.toggle("fa-chevron-up");
            dropdown.classList.toggle("hidden");
        }
        function selectEWallet(value) {
            var selectButton = document.getElementById("selectButton");
            var dataEwallet = document.getElementById("dataEwallet");
            dataEwallet.setAttribute("value", value);
            selectButton.innerText = value;
            toggleDropdown();
        }
        function togglePriceDropdown() {
            var priceDropdown = document.getElementById("priceDropdown");
            var iconDropdown = document.getElementById("dropDownPriceIcon");
            iconDropdown.classList.toggle("fa-chevron-down");
            iconDropdown.classList.toggle("fa-chevron-up");
            priceDropdown.classList.toggle("hidden");
        }
        function selectPrice(value) {
            var priceButton = document.getElementById("priceButton");
            var dataAmount = document.getElementById("dataAmount");
            dataAmount.setAttribute("value", value);
            priceButton.innerText = value;
            togglePriceDropdown();
        }

        function submitForm() {
            var selectedEWallet = document.getElementById("dataEwallet").getAttribute("value");
            var selectedAmount = document.getElementById("selectedAmount").getAttribute("value");
            var form = document.getElementById("myForm");
            form.action = "/submit?ewallet=" + selectedEWallet + "&amount=" + selectedAmount;
            form.submit();
        }
    </script>
</body>

</html>